<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app/css/responsive.css">
    <link rel="stylesheet" href="/static/app/css/reset.css">
    <link rel="stylesheet" href="/static/app/css/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@500&display=swap" rel="stylesheet">

    <title>Contact</title>
</head>

<body>
    <div class="bar">
        <i class="fas fa-times" id="close"></i>
        <i class="fas fa-bars" id="open"></i>
    </div>
    <div class="mobile-header">
        <h1>ƏLAQƏ <span class="hqq">SAXLA</span></h1>
    </div>
    <section id="contact_md">
        <div class="contact_container-md">
            <!-- Start Header -->
            <div class="row">
                <div class="col-xl-12 ">
                    <div class="header_md_contact">
                        <span class="con">ƏLAQƏ</span>
                        <h1>ƏLAQƏ<span class="th_md"> SAXLA</span></h1>
                    </div>
                </div>
            </div>
            <!-- End Header -->
        </div>
        <div class="row">
            <div class="col-12 col-xl-4">
                <div class="items_contact_md">
                    <h1>ZƏNG EDİN</h1>
                    <p>Mənimlə əlaqə saxlamaqdan çekinməyin..Yeni layihələr, yaradıcı fikirlər və ya imkanları müzakirə etməyə hər zaman hazıram.</p>
                    <div class="mail">
                        <div class="icon_link"><i class="fas fa-envelope-open"></i>
                            <div class="mail-name">
                                <h2>Mail</h2>
                                <h3>mehemmedeliyevn0330@gmail.com</h3>
                            </div>

                        </div>
                        <div class="mail">
                            <div class="icon_link"><i class="fas fa-phone-square-alt"></i>
                                <div class="mail-name">
                                    <h2>Əlaqə nömrəsi</h2>
                                    <h3>0505188255</h3>
                                </div>
                            </div>

                        </div>
                    </div>
                    <a class="icon_links" href="#">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-youtube"></i>
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="right_text_md">
                    <form action="">
                        <input type="text" id="fname" name="firstname" placeholder="ADIN">
                        <input type="text" id="femail" name="firstname" placeholder="EMAİL-İN">
                        <input type="text" id="fsubject" name="firstname" placeholder="MÖVZU">
                        <textarea placeholder="MÜRACİƏT ET"></textarea>
                    </form>

                </div>
                <div class="btn-icon"> <button class="btn-about">Mesaj yaz</button>
                    <a class="a_arrow" href="#"><i class="fas fa-paper-plane"></i></a>
                </div>
            </div>
            <div class="md-icons">
                <a href="/templates/app/index.html"><i class="fas fa-home"></i></a>
                <a href="/templates/app/about.html"><i class="fas fa-user"></i></a>
                <a href="/templates/app/works.html"><i class="fas fa-briefcase"></i></a>
                <a href="/templates/app/contact.html"> <i class="far fa-envelope-open"></i></a>
                <a href="/templates/app/blog.html"> <i class="far fa-comments"></i></a>

            </div>
        </div>
        <div class="mobile-menu">
            <div class="navbar">
                <ul class="links">
                    <li class="link"><i class="fas fa-home"></i><a href="/templates/app/index.html">ƏSAS SƏHİFƏ</a></li>
                    <li class="link"><i class="fas fa-user"></i><a href="/templates/app/about.html">HAQQIMDA</a></li>
                    <li class="link"><i class="fas fa-briefcase"></i><a href="/templates/app/works.html">PORTFOLIO</a></li>
                    <li class="linkdifferent"><i class="fas fa-envelope-open"></i><a href="/templates/app/contact.html">ƏLAQƏ</a></li>
                    <li class="link"><i class="fas fa-comments"></i><a href="/templates/app/blog.html">BLOG</a></li>
                </ul>
            </div>
        </div>
    </section>
    <script src="/static/app/css/js/fifth.js"></script>
</body>

</html>