<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
    <!-- <link rel="stylesheet" href="css/layout.css"> -->
    <link rel="stylesheet" href="/static/app/css/responsive.css">
    <link rel="stylesheet" href="/static/app/css/reset.css">
    <link rel="stylesheet" href="/static/app/css/portfolio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>Portfolio</title>
</head>

<body>
    <section id="md-big_page">
        <div class="md-main_container">
            <div class="bar">
                <i class="fas fa-times" id="close"></i>
                <i class="fas fa-bars" id="open"></i>
            </div>
            <div class="mobile-menu">
                <div class="navbar">
                    <ul class="links">
                        <li class="linkdifferent"><i class="fas fa-home"></i><a href="/templates/app/index.html">ƏSAS
                                SƏHİFƏ</a></li>
                        <li class="link"><i class="fas fa-user"></i><a href="/templates/app/about.html">HAQQIMDA</a>
                        </li>
                        <li class="link"><i class="fas fa-briefcase"></i><a
                                href="/templates/app/works.html">PORTFOLIO</a></li>
                        <li class="link"><i class="fas fa-envelope-open"></i><a
                                href="/templates/app/contact.html">ƏLAQƏ</a></li>
                        <li class="link"><i class="fas fa-comments"></i><a href="/templates/app/blog.html">BLOG</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-12 col-xl-5">
                    <div class="color-block"></div>
                    <div class="md-image">
                        <img src="/static/app/image/maqa.jpg" alt="">
                    </div>
                </div>
                <div class="col-sm-12 col-lg-7 col-md-12 col-xl-7">
                    <div class="md-about_text_icons">
                        <div class="md-abouts">
                            <div class="md-name">
                                <h1>
                                    <span class="tire">- </span> ƏLİYEV MƏHƏMMƏD. <br><span class="front">FRONTEND
                                        DEVELOPER</span>
                                </h1>
                            </div>
                            <p>Salam, şirkətlər üçün gözəl və işlək veb saytlar hazırlayıram. İnsanların həyatını
                                yaxşılaşdıran mükəmməl bir proqram qururam. Bu sahədə istəkli və əzimkaram.</p>
                            <div class="btn-icon"> <button class="btn-about">HAQQIMDA</button>
                                <a class="a_arrow" href="/templates/app/about.html"><i
                                        class="fas fa-arrow-right"></i></a>
                            </div>

                        </div>


                        <div class="md-icons">
                            <a href="/"><i class="fas fa-home"></i></a>
                            <a href="/about"><i class="fas fa-user"></i></a>
                            <a href="/works"><i class="fas fa-briefcase"></i></a>
                            <a href="/contact"> <i class="far fa-envelope-open"></i></a>
                            <a href="/blog"> <i class="far fa-comments"></i></a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <script src="/static/app/css/js/first.js"></script>
</body>

</html>